*{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: Snell Roundhand, cursive;
    text-decoration: none;
}
body{
    background-color: rgb(13, 14, 18);
}
.flex{
    display: flex;
    width: 100%;
}
.icon{
    margin-left: 5px;
    width: 23px;
    height: 23px;
    object-fit: cover;
}